maohifx.invoice/src/main/resources/invoice.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.0.2.746 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Invoice">
    <xs:complexType>
      <xs:all>
        <xs:element name="InvoiceLines">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="InvoiceLine" type="InvoiceLine" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="InvoicePaymentLines">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="invoicePaymentLine" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
      <xs:attribute name="number" type="xs:string" />
      <xs:attribute name="date" type="xs:string" />
      <xs:attribute name="customerName" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="InvoiceLine">
    <xs:attribute name="bar_code" type="xs:string" />
    <xs:attribute name="label" type="xs:string" />
    <xs:attribute name="quantity" type="xs:double" />
    <xs:attribute name="sellingPrice" type="xs:double" />
    <xs:attribute name="discountRate" type="xs:double" />
    <xs:attribute name="tvaRate" type="xs:double" />
  </xs:complexType>
</xs:schema>