maohifx.client/src/main/resources/config.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.0.2.746 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Configuration">
    <xs:complexType>
      <xs:all>
        <xs:element name="Home">
          <xs:complexType>
            <xs:all>
              <xs:element name="url" type="xs:string" />
              <xs:element name="autoLoad" type="xs:boolean" />
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="historyUrl">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="url" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Authentication">
          <xs:complexType>
            <xs:all>
              <xs:element name="server" type="xs:string" />
              <xs:element name="username" type="xs:string" />
              <xs:element name="password" type="xs:string" />
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>